Consigna: 
Con este archivo, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos.
Separar nombres de apellidos en dos columnas distintas usando la coma como separador
Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?
Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [2]:
import pandas as pd
import numpy as np

archivo_medallas_olimpicas = pd.read_csv('summer_olympic_medals_1976-2008.csv', encoding='latin-1')
# print(archivo_medallas_olimpicas)

fechas_medallas_olimpicas = archivo_medallas_olimpicas["Year"]
fechas_medallas_olimpicas

fechas_medallas_olimpicas_datetime = pd.DatetimeIndex(fechas_medallas_olimpicas)
fechas_medallas_olimpicas_datetime

nombre_apellido_medallas_olimpicas = pd.Series(archivo_medallas_olimpicas["Athlete"])
nombre_apellido_medallas_olimpicas

0                 KÖHLER, Christa
1             KOSENKOV, Aleksandr
2            BOGGS, Philip George
3        CAGNOTTO, Giorgio Franco
4          WILSON, Deborah Keplar
                   ...
15428          GUENOT, Christophe
15429         KVIRKELIA, Manuchar
15430            RAHIMOV, Vitaliy
15431              GUENOT, Steeve
15432               LOPEZ, Mijain
Name: Athlete, Length: 15433, dtype: object

In [3]:

nombre_apellido_medallas_olimpicas.str.split(",")

0                 [KÖHLER,  Christa]
1             [KOSENKOV,  Aleksandr]
2            [BOGGS,  Philip George]
3        [CAGNOTTO,  Giorgio Franco]
4          [WILSON,  Deborah Keplar]
                    ...
15428          [GUENOT,  Christophe]
15429         [KVIRKELIA,  Manuchar]
15430            [RAHIMOV,  Vitaliy]
15431              [GUENOT,  Steeve]
15432               [LOPEZ,  Mijain]
Name: Athlete, Length: 15433, dtype: object

In [4]:
archivo_medallas_olimpicas.describe()

               Year
count  15316.000000
mean    1993.620789
std       10.159851
min     1976.000000
25%     1984.000000
50%     1996.000000
75%     2004.000000
max     2008.000000

In [7]:
paises_medallas_olimpicas = pd.Series(archivo_medallas_olimpicas["Country"])
paises_medallas_olimpicas.describe()
# Observamos que el que mas aparece es United States

count             15316
unique              127
top       United States
freq               1992
Name: Country, dtype: object

In [8]:
# Primero armamos una tabla nueva y filtramos por "Gender" = "Men"
# Luego tenemos que contar cuantas veces aparece cada año en nuestra nueva tabla y obtenemos el dato pedido.